@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


body{font-family: 'Inter', sans-serif;}

.abtimg span {width:100% !important;}
.abtimg span img {width:100% !important;}
.abtimg img span {width:100% !important;}
.abtimg img {width:100% !important;}

.border3{ border:2em solid blue;}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}